* {
  margin: 0;
  padding: 0;
}

body {
  width: 1024px;
  margin: 0 auto;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
}

@media only screen and (max-width: 1024px) {
  body {
    width: 100%;
  }
}

a {
  color: black;
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
}

.header-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.header-img {
  width: 100%;
}

.header-text-wrapper{
  position: absolute;
  color: white;
}

.header-text {
  font-size: 43px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Abhaya Libre', sans-serif;
}

.header-text-small-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -16px;
}

.header-text-small-strikethrough {
  height: 2px;
  width: 140px;
  background-color: white;
  margin-right: 5px;
}

.header-text-small-country {
  font-size: 13px;
}

@media only screen and (max-width: 1024px) {
  .header-text {
    font-size: 30px;
  }

  .header-text-small-wrapper {
    margin-top: -7px;
  }

  .header-text-small-strikethrough {
    width: 85px;
    height: 1.5px;
  }

  .header-text-small-country {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .header-text {
    font-size: 18px;
  }

  .header-text-small-wrapper {
    margin-top: -7px;
  }

  .header-text-small-strikethrough {
    width: 45px;
    height: 1px;
  }

  .header-text-small-country {
    font-size: 8px;
  }
}

.menu-wrapper {
  height: 50px;
  background-color: #000000D9;
  text-transform: uppercase;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-wrapper a {
  color: white;
  opacity: .5;
}

.menu-wrapper a:hover {
  opacity: 1;
}

.menu-wrapper a.active {
  opacity: 1 !important;
}

.menu-mobile {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .menu-wrapper {
    height: 40px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .menu-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #000000D9;
    color: white;
    height: 30px;
  }

  .menu-icon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 5px;
  }

  .menu-wrapper {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 150px;

    display: none;
    background-color: #000000D9;
    flex-direction: column;
    font-size: 10px;
  }
}

.slider-text-wrapper {
  margin: 0px auto;
  margin-top: 50px;
  width: 80%;
  text-align: center;
}

.slider-text-title {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;

  display: block;
  margin-bottom: 15px;
}

.slider-text-wrapper p {
  font-size: 15px;
  opacity: .8;
}

@media only screen and (max-width: 1024px) {
  .slider-text-title {
    font-size: 18px;
  }
  
  .slider-text-wrapper p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .slider-text-title {
    font-size: 12px;
  }
  
  .slider-text-wrapper p {
    font-size: 10px;
  }
}

.slider-main-wrapper {
  width: 100%;
  height: 500px;
  margin-bottom: 70px;
}

.swiper-container {
  width: 100%;
  padding: 50px 0px;
  overflow: hidden;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 400px;

  display: flex;
  justify-content: center;
  opacity: .5;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-slide-img {
  display: block;
  width: 100%;
  height: 100%;

  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}

.swiper-btn {
  color: black;
  opacity: .3;
  transition: opacity .15s linear;
}

.swiper-container:hover .swiper-btn {
  opacity: .8;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
}

.swiper-pagination-bullet-active {
  background: black;
}

@media only screen and (max-width: 1024px) {
  .slider-main-wrapper {
    height: 350px;
  }
  
  .swiper-slide {
    height: 250px;
  }
  
  .swiper-btn {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .slider-main-wrapper {
    height: 200px;
  }
  
  .swiper-slide {
    height: 150px;
  }
  
  .swiper-btn {
    display: none;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 2px;
    border-radius: 5px;
  }
}

.footer-wrapper {
  background-color: #ccc;
  padding: 40px 150px;
}

.footer-text-wrapper{
  color: black;
}

.footer-text {
  font-size: 43px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Abhaya Libre', sans-serif;
}

.footer-text-small-wrapper {
  display: flex;
  align-items: center;

  margin-top: -16px;
}

.footer-text-small-strikethrough {
  height: 2px;
  width: 140px;
  background-color: black;
  margin: 0px 5px;
}

.footer-text-small-country {
  font-size: 13px;
  font-weight: 700;
}

.footer-contact-wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.footer-contact-hotline {
  opacity: .95;
}

.footer-contact-hotline-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  color: black;

  margin-bottom: 10px;
  display: block;
}

.footer-contact-hotline-icon {
  font-size: 20px;
}

.footer-contact-socialnetwork-title {
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: 600;

  font-size: 17px;
  color: black;
  display: block;
}

.footer-contact-socialnetwork-icon-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.footer-contact-socialnetwork-icon {
  display: inline-block;
  font-size: 22px;
  padding: 7px 10px;
  background-color: white;
  border-radius: 100%;
}

.footer-contact-member-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;

  font-size: 17px;
  color: black;
  display: block;
}

.footer-contact-member-avatar-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.footer-contact-member-avatar {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.footer-exercises {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media only screen and (max-width: 1024px) {
  .footer-wrapper {
    padding: 30px 80px;
  }
  
  .footer-text {
    font-size: 30px;
  }
  
  .footer-text-small-wrapper {  
    margin-top: -12px;
  }
  
  .footer-text-small-strikethrough {
    width: 80px;
  }
  
  .footer-text-small-country {
    font-size: 13px;
  }
  
  .footer-contact-wrapper {
    margin-top: 20px;
  }
  
  .footer-contact-hotline-title {
    font-size: 15px;
  }
  
  .footer-contact-hotline-icon {
    font-size: 18px;
  }
  
  .footer-contact-socialnetwork-title {
    margin: 15px 0;
    font-size: 15px;
  }

  .footer-contact-socialnetwork-icon-wrapper {
    width: 85%;
    grid-gap: 0;
  }
  
  .footer-contact-socialnetwork-icon {
    font-size: 20px;
    padding: 4px 7px;
  }
  
  .footer-contact-member-title {  
    font-size: 15px;
  }
  
  .footer-contact-member-avatar-wrapper {
    margin-top: 20px;
  }
  
  .footer-contact-member-avatar {
    width: 60px;
    height: 60px;
  }
  
  .footer-exercises {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  .footer-wrapper {
    padding: 20px;
  }
  
  .footer-text {
    font-size: 18px;
  }
  
  .footer-text-small-wrapper {  
    margin-top: -7px;
  }
  
  .footer-text-small-strikethrough {
    width: 40px;
    height: 1px;
  }
  
  .footer-text-small-country {
    font-size: 8px;
  }
  
  .footer-contact-wrapper {
    margin-top: 10px;
    font-size: 10px;
  }
  
  .footer-contact-hotline-title {
    font-size: 12px;
  }
  
  .footer-contact-hotline-icon {
    font-size: 12px;
  }
  
  .footer-contact-socialnetwork-title {
    margin: 10px 0;
    font-size: 12px;
  }

  .footer-contact-socialnetwork-icon-wrapper {
    width: 75%;
    grid-gap: 0;
  }
  
  .footer-contact-socialnetwork-icon {
    font-size: 12px;
    padding: 3px 5px;
  }
  
  .footer-contact-member-title {  
    font-size: 12px;
  }
  
  .footer-contact-member-avatar-wrapper {
    margin-top: 15px;
    width: 90%;
  }
  
  .footer-contact-member-avatar {
    width: 40px;
    height: 40px;
  }
  
  .footer-exercises {
    font-size: 10px;
  }
}